@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --cor-primaria: rgb(2, 114, 241);
    --cor-primaria-escura: rgb(2, 69, 146);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--cor-primaria);
}

form button {
    border: none;
    background-color: var(--cor-primaria);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--cor-primaria-escura);
}

.relogio {
    font-size: 2em;
    font-weight: bold;
}

.pausado {
    color: red;
}

.iniciar {
    color: green;
}

.zerar {
    color: black;
}